.card {
  background-color: white;
  max-width: 30rem;
  border-radius: 1rem;
  overflow: hidden;
}

.thumbnail {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.body {
  padding: 1rem;
}

.title {
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 1rem;
}
